<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs', { title: 'Home', link: 'https://leads-track.onrender.com/' }) %>
    </head>
    <body>
        <div class="d-flex flex-column min-vh-100">
            <div class="text-white text-center d-flex flex-column justify-content-center align-items-center flex-grow-1 pb-5">
                <img class="my-5" id="home-icon" src="/assets/img/icon.svg" alt="">
                <h1>Welcome to Leads Track!</h1>
                <p class="w-50 fs-4 my-3">Simplify lead management. Our app helps you keep track of all your sales leads, including key details and follow-ups. Start organizing your leads today for a more efficient sales process.</p>
                <div class="d-flex gap-4">
                    <a href="/auth/login" class="mb-3 btn btn-dark d-flex align-items-center justify-content-center">
                        Log In
                    </a>
                    <a href="/auth/signup" class="mb-3 btn btn-dark d-flex align-items-center justify-content-center">
                        Sign Up
                    </a>
                </div>
                <a href="/auth/google" class="mb-3 btn btn-danger d-flex align-items-center justify-content-center">
                    <i class="bi bi-google" style="font-size: 1.2rem; margin-right: 8px;"></i>
                    Log in with Google
                </a>
            </div>
            <!-- FOOTER -->
            <%- include('partials/footer.ejs') %>
        </div>
        <script src='js/main.js'></script>
    </body>  
</html>
